<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<link rel="icon" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="stylesheet" href="/css/stuck.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/touchTouch.css">
<script src="/js/jquery.js"></script>
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script src="/js/script.js"></script> 
<script src="/js/superfish.js"></script>
<script src="/js/jquery.equalheights.js"></script>
<script src="/js/jquery.mobilemenu.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/tmStickUp.js"></script>
<script src="/js/jquery.ui.totop.js"></script>
<script src="/js/touchTouch.jquery.js"></script>

<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>

<body class="page1" id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="home.html">
            <img class="imglogo" src="images/logoTLU.png" alt="Logo alt">
          </a>
        </h1>  
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li><a href="/home">Trang chủ</a></li>
               <li><a href="/menu">Thực đơn</a></li>
               <li class="current"><a href="/search-nutrients"> Tra cứu chất dinh dưỡng</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content"><div class="ic"></div>
  <div class="container">
    <div class="row">
      

      
      <div class="grid_12">
        <h2 class="fontnutri">Nhập nguyên liệu</h2>
        <input type="search" id="search" data-search>
      </div>
      
      <div class="gallery">
        <div class="grid_4"><a href="images/big1.jpg" class="gall_item"><img src="images/page1_img4.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
        <div class="grid_4"><a href="images/big2.jpg" class="gall_item"><img src="images/page1_img5.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
        <div class="grid_4"><a href="images/big3.jpg" class="gall_item"><img src="images/page1_img6.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
      </div>
<!--       <div class="grid_4">
        <h2>Testimonials</h2>
        <blockquote class="bq1">
          <img src="images/page1_img7.jpg" alt="" class="img_inner fleft noresize">
          <div class="extra_wrapper">
            <div class="bq_title color1">Mark Wood</div>
            Sivamus at magna non nuncer tristique rhoncus. Aliquame nibh ante, egestas id dictumertolom  commodo. Praesent faucib mal.
            <a href="#"><span class="fa fa-chevron-right"></span>more testimonials</a>
          </div>
        </blockquote>
      </div>
      <div class="grid_4">
        <h2>What’s new</h2>
        <div class="block2">
          <time datetime="2014-01-01">11<br>June</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Vivamus at magna non nunc </a></div>Rehoncus. Aliquam nibh antegestas id dictum a, commodo. Praesenterto faucibus malesuada faucibus
          </div>
        </div>
        <div class="block2">
          <time datetime="2014-01-01">15<br>APR</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Tivamus at magna non nunc </a></div>Rehoncus. Aliquam nibh antegestas id dictum a, commodo. Praesenterto faucibus malesuada faucibu
          </div>
        </div>
      </div>
      <div class="grid_4">
        <h2>Opening Hours</h2>
        <ul class="shed">
          <li><span>Breakfast:</span> 8AM - 11AM</li>
          <li><span>Grill Menu:</span> 12AM - 12PM</li>
          <li><span>Live Musiс:</span> 8AM - 11AM</li>
        </ul>
      </div> -->
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  
        <div class="socials">
          <!-- <a href="#" class="fa fa-twitter"></a> -->
          <!-- <a href="#" class="fa fa-facebook"></a> -->
          <a href="#" class="fa fa-google-plus"></a>
          <!-- <a href="#" class="fa fa-pinterest"></a> -->
        </div>
        <div class="copyright"><span class="brand">Bliss </span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div> 
</footer> 
</body>
</html>

